{% extends "base_generic.html" %}

{% block content %}
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="sn-img"> 
                                <h1 class="sn-title">{{ post.title }}</h1> 
                                <p> By: {{ post.author}}</p>
                                <p><em>{{post.date_created}}</em></p>
                                <img src="{{ post.image.url }}" style="height: 525px; width: 825px;" />
                            </div>
                            <div class="sn-content">
                                <p>
                                   {{ post.content|safe|linebreaksbr }}
                                </p>
                            </div>
                            <div>
                                <h2>Comments</h2>
                                {% for comment in post.comments.all %}
                                    <p> {{comment}} By {{ comment.name }} on <em>{{comment.created_date}}</em> </p>
                                {%empty%}
                                    <p>No comment </p>
                                {%endfor%}
                                <a href="{% url 'comment' pk=post.pk %}" style="display: inline-block; border-radius: 4px; background-color: #f4511e; border: none; color: #FFFFFF; text-align: center; font-size: 18px; padding: 10px; width: 200px; transition: all 0.5s; cursor: pointer; margin: 5px;">Add Comment </a>
                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>Related News</h2>
                            <div class="row sn-slider">
                                {% for post in related_posts %}
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{{ post.image.url }}" />
                                        <div class="sn-title">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2 class="sw-title">In This Category</h2>
                                <div class="news-list">
                                    {% for post in related_posts %}
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{{ post.image.url }}" />
                                        </div>
                                        <div class="nl-title">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            

                            <div class="sidebar-widget">
                                <h2 class="sw-title">News Category</h2>
                                <div class="category">
                                    {% for category in categories %}
                                    <ul>
                                        <li><a href="">{{ category }}</a><span>({{ category.posts.count}})</span></li>
                                    </ul>
                                    {%endfor%}
                                </div>
                            </div>
     
                            <div class="sidebar-widget">
                                <h2 class="sw-title">Tags Cloud</h2>
                                <div class="tags">
                                    <a href="">National</a>
                                    <a href="">International</a>
                                    <a href="">Economics</a>
                                    <a href="">Politics</a>
                                    <a href="">Lifestyle</a>
                                    <a href="">Technology</a>
                                    <a href="">Trades</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single News End-->        
        
    {%endblock%}
                    